<!DOCTYPE html>
<html>
  <head>
    <title>Fiction DB</title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport"
     content="width=device-width, initial-scale=1, maximum-scale=1">
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="/js/ckeditor/ckeditor.js"></script>
    <script src="/js/jquery-ui/external/jquery/jquery.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/desktop.js"></script>

    <script>
      // these icons are immune from being selected
      const launcherIcons = ['new-story','new-event','new-character',
        'new-location','new-setting'];
      // we may track this
      var mouseCurrentXY = {x: undefined, y: undefined};
      // don't open the accordion for an item we're sorting
      var sorting = false;
      // startup ===============================================================
      $(document).ready(function() {
        // prevent ctrl-click from opening new windows
        $('*').click((event,ui)=>{
          if (event.ctrlKey) {
            event.stopImmediatePropagation();
            return false;
          }
        });
        setTimeout(()=>{ $('#splash-container').fadeOut(500); }, 2600);
        setTimeout(()=>{ $('#splash').effect('drop',
          {direction: 'up', duration: 600}); }, 2500
        );
        initDesktop();
        // captureMousePos();
        // disable selecting text except in input fields
        $('*').disableSelection().not('input');

      });
      // UI ====================================================================
      async function captureMousePos() {
        document.onmousemove = (e) => {
          let x = (window.Event)
            ? e.pageX
            : event.clientX +
              (document.documentElement.scrollLeft
                ? document.documentElement.scrollLeft
                : document.body.scrollLeft);
          let y = (window.Event)
            ? e.pageY
            : event.clientY +
              (document.documentElement.scrollTop
                ? document.documentElement.scrollTop
                : document.body.scrollTop);
          mouseCurrentXY = {x: x, y: y};
        };
      }
    </script>
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/startup.css">
    <!--STYLES END-->
  </head>
  <body>
    <%- body %>
    <!--TEMPLATES-->
    <!--TEMPLATES END-->
    <!--SCRIPTS-->
    <script src="/dependencies/sails.io.js"></script>
    <!--SCRIPTS END-->
  </body>
  <script src="/js/jquery-ui/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="/js/jquery-ui/jquery-ui.min.css">
</html>
