<select id="attachItemMenu" title="Attach Existing">
  <option value="none" data-class="ui-icon-nullify">&nbsp;</option>
  <option value="character" data-class="ui-icon-character">Attach Existing Character</option>
  <option value="event" data-class="ui-icon-event">Attach Existing Event</option>
  <option value="location" data-class="ui-icon-location">Attach Existing Location</option>
  <option value="setting" data-class="ui-icon-setting">Attach Existing Setting</option>
  <option value="story" data-class="ui-icon-story">Attach Existing Story</option>
</select>
