<select class="ui" id="newAttachItemMenu" title="Create &amp; Attach">
  <option value="none" data-class="ui-icon-nullify">&nbsp;</option>
  <option value="character" data-class="ui-icon-character">Create &amp; Attach Character</option>
  <option value="event" data-class="ui-icon-event">Create &amp; Attach Event</option>
  <option value="location" data-class="ui-icon-location">Create &amp; Attach Location</option>
  <option value="setting" data-class="ui-icon-setting">Create &amp; Attach Setting</option>
  <option value="story" data-class="ui-icon-story">Create &amp; Attach Story</option>
</select>
