html, body, * {
   padding: 0;
   margin: 0;
}
body {
  background: black;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Georgia, serif;
  overflow: hidden;
}
p, pre, h1, h2, h3, h4, h5, h6, li, div, a, blockquote, span {
  color: #BEC0BE;
  line-height: 100%;
}
a:visited, a:hover, a:active {
  text-decoration: none;
}
h1 { margin: 1px 1px .5em 1px; }
p, li, div, h6, a, blockquote, span { font-size: 11pt; }
p, pre { display: block; margin: 1px 1px .8em 1px;}
::-webkit-scrollbar              { width: 16px; }
::-webkit-scrollbar-button       { background: #444; color: black; }
::-webkit-scrollbar-track        { background: black; }
::-webkit-scrollbar-thumb        { background: #444; }
::-webkit-scrollbar-corner       { background: black; }
::-webkit-resizer                { background: #444; }
/* layout system */
.col-1-container, .col-2-container, .col-3-container, .col-4-container {
  height: 98.2vh;
  padding: 0 0 2vh 0;
  display: flex;
  flex-direction: column;
}
.col-1-container, .col-2-container {
  width: 32vw;
}
.col-1-container {
  background-color: #101017;
  position: fixed;
  left: 0vw;
  top: 0vh;
}
.col-2-container {
  position: fixed;
  left: 32vw;
  top: 0vh;
  background-color: #101717;
}
.mod-col-1, .mod-col-2 {
  display: block;
  margin: 4px 0 1vh 0;
}
.mod-mainTitle {
  overflow-y: auto;
  height: 17vh;
  padding: 0.6vh 0.8vw;
  border-top-left-radius: 1.5%;
  border-top-right-radius: 1.5%;
}
 h1#mainTitle {
   height: auto;
}
.mod-main-content {
  background-color: #222;
  font-size: 1.1em;
  padding: 0;
  margin: 0 0;
}
.col-3-container, .col-4-container {
  width: 18vw;
}
.col-3-container {
  position: fixed;
  left: 64vw;
  top: 0vh;
  background-color: #1A1510;
}
.col-4-container {
  position: fixed;
  left: 82vw;
  top: 0vh;
  background-color: #171017;
}
.mod-col-3, .mod-col-4 {
  display: block;
  margin: 0 0 1vh 0;
}
.mod p {
  margin: 4px .5em;
  padding: 0;
  text-align: center;
}
/* system interface */
.mod.toolbar-top {
  height: 3vh;
  padding: 0.15vh 0.15vw;
  background-color: #404040;
  margin: 0;
}
.ui-controlgroup { /* jquery */
  border-color: #101010;
  border-width: 1px;
}
.ui-button.ui-widget.ui-checkboxradio-radio-label.ui-controlgroup-item.ui-checkboxradio-label,
.ui-button.ui-widget,
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited,
a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button,
a.btn.ui-button.ui-widget {
   /* jquery */
  background: #444;
  color: #bdbdbd;
  border-color: black;
  border-width: 1px;
  padding: 0.7vh 0.8vh;
  font-size: 1.1vh;
}

div.mod div#Navigator div#Navigator_table h3 {
  background-color: #202020;
  color: #bdbdbd;
}
div.mod div#Navigator div#Navigator_table h3 span.ui-accordion-header-icon {
  background-color: #202020;
  color: #dcdcdc;
  margin-right: 12px;
}
.ui-widget-content {
  background-color: #202020;
}
.ui-button.ui-widget.ui-checkboxradio-radio-label.ui-controlgroup-item.ui-checkboxradio-label.ui-checkboxradio-checked,
a.btn.ui-button:hover {
   /* jquery */
  background: #444; color: #dcdcdc;
}
span.ui-checkboxradio-icon.ui-icon.ui-icon-background.ui-icon-blank {
  background-color: black;
  border: none;
  box-shadow: none;
  height: .7vw;
  width: .7vw;
}
.ui-checkboxradio-radio-label.ui-state-active.ui-controlgroup-item.ui-checkboxradio-label
 > span.ui-checkboxradio-icon {
   background-color: #F84;
   border: none;
   outline: none;
   height: .8vw;
   width: .8vw;
}
div#context-menu {
  background-color: #444;
  width: 250px;
  padding: 5px;
  display: none;
}
div#context-menu ul {
  display: block;
  list-style: none;
  padding: 0;
}
li.context-menu-item {
  padding: 0;
  margin: 0;
}
div#context-menu ul li.context-menu-item a {
  width: 100%;
  line-height: 125%;
  display: block;
  margin: 7px;
  padding: 4px 2px;
}
div#context-menu ul li.context-menu-item a:hover {
  color: black;
}
div#context-menu ul li.context-menu-item:hover {
  background-color: #F84;
}
#item-toaster {
  display: none;
  position: absolute;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
  height: 32px;
  width: 64px;
}
#item-toaster:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 51%;
  background: #040;
  transform: skew(0deg, 12deg);
}
#item-toaster:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background: #040;
  transform: skew(0deg, -12deg);
}

/* navigator */
#Navigator {
  height: 79vh;
  width: 32vw;
  background-color: #222;
  position: absolute;
  top: 20vh;
  padding-bottom: 0;
  border-bottom-left-radius: 1.5vw;
  border-bottom-right-radius: 1.5vw;
}
#Navigator_table {
  overflow-y: auto;
  margin: 0;
  width: 31vw;
  height: 78vh;
  padding: 4px;

}
.Navigator_header, .Navigator_item, .Navigator_Title, .Navigator_TopTitle {
  font-family: Tahoma, sans-serif;
  font-size: 11pt;
  line-height: 105%;
  cursor: pointer;
}
.Navigator_header, .Navigator_item, .Navigator_Title {
  padding-top: 2px; padding-bottom: 2px;
}
.Navigator_header {
  margin: 0.4em 0 0.2em 0;
  text-align: center;
  font-weight: bold;
  border-top: 1px solid #606060;
  border-bottom: 1px solid #606060;
}
.Navigator_item.ui-accordion-content, #Navigator #Navigator_table h3.ui-accordion-header,
.ui-accordion .Navigator_item.ui-accordion-content {
  padding-left: 0.2em;
  padding-right: 0.2em;
  margin-top: 0.2em;
  border: 1px solid black;
}
#Navigator #Navigator_table h3.ui-state-active {
  border: 1px solid #223
}
.Navigator_item:hover {
  background-color: #421;
}
.Navigator_TopTitle {
  padding-left: 1em;
}
.Navigator_Title {
  padding-left: 2em;
}
.Navigator_Title, .Navigator_TopTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px dotted #606060;
}
.Navigator_TopTitle div, .Navigator_Title div,
 .Navigator_TopTitle div input, .Navigator_Title div input {
  width: 16vw;
}
.Navigator_TopTitle div:hover, .Navigator_Title div:hover {
  background-color: #f84;
  color: black;
}
.Navigator_TopTitle div input, .Navigator_Title div input {
  background-color: #842;
  border: 0;
  color: #dcdcdc;
}
.Navigator_item.ui-accordion-content {
  background-color: #101717;
}
.Navigator_item.ui-accordion-content.alt-list-color {
  background-color: #252525;
}
/* ckeditor */
.cke_reset { color: #BEC0BE; background: black; }
.mod textarea { width: 100%; margin: 4px 0; padding: 0; border: 0; outline: 0;}
.mod-col-2 textarea, .mod-col-2 textarea { width: 32vw; }
#cke_noteEditor { flex-grow: 8; display: flex; }
#cke_noteEditor div .cke_contents { flex-grow: 8; }
#cke_noteEditor > div { width: 32vw; }

/* other editors */
input#mainTitle_editor {
  margin: 1px 1px .5em 1px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, Georgia, serif;
  font-size: .9em;
  font-weight: bold;
  width: 28vw;
  background-color: #444;
  border: 1px solid #842;
  color: #dcdcdc !important;
}

/* #icon-container and related */
div#deskicon-container {
  position: relative;
  padding-bottom: 16px;
  background: black;
  width: 99.9vw;
  height: 98.2vh;
  display: flex;
  flex-flow: row-reverse wrap-reverse;
  justify-content: flex-end;
  align-content: flex-start;
}
div.deskicon {
  margin: 16px;
  font-size: 8pt;
  height: 64px;
  width: 64px;
  background: #323232;
  text-align: center;
}
div.deskicon.ui-selecting {
  background: #F84;
}
div.deskicon.ui-selected {
  background: #842;
}
div.deskicon.ui-draggable-dragging.multi-drag {
  box-shadow: 8px 8px #632;
}
div.deskicon.ui-draggable-dragging.multi-drag a {
  box-shadow: -8px -8px #632;
}
div.deskicon a {
  font-size: 9pt;
  margin: 0;
  position: absolute;
  padding: 64px 0 0 0;
  height: 16px;
  width: 64px;
  display: block;
}
div.deskicon.story-icon a {
  background-image: url('/images/story-icon.png');
  background-repeat: no-repeat;
}
div.deskicon.location-icon a {
  background-image: url('/images/location-icon.png');
  background-repeat: no-repeat;
}
div.deskicon.character-icon a {
  background-image: url('/images/character-icon.png');
  background-repeat: no-repeat;
}
div.deskicon.event-icon a {
  background-image: url('/images/event-icon.png');
  background-repeat: no-repeat;
}
div.deskicon.setting-icon a {
  background-image: url('/images/setting-icon.png');
  background-repeat: no-repeat;
}
div.deskicon.new-icon {
  background-image: url('/images/new-icon.png');
  background-repeat: no-repeat;
}
div.deskicon:hover, div.deskicon.ui-droppable-hover {
  background-color: #f84;
}
