<h1><%= realName.content %><h1>
<div style="width: 450px;"><textarea id="rawEl"></textarea></div>
<script> try { CKEDITOR.replace('rawEl'); } catch (e) {} </script>

<a class='btn back-btn' href="#" onclick="requestPage('/home');">Back</a>
