<script>
  try {
    const mainTitleFieldNames = JSON.parse(
      `<%- JSON.stringify(mainTitleFieldNames) %>`
    );
  } catch (e) { console.log(e); }
  iconsShowing = [ 'character', 'event', 'location', 'setting', 'story' ];
</script>
<div id="home-workspace">
  <%- partial('../partials/desktop/taskbar') %>
  <%- partial('../partials/desktop/icons') %>
</div>
<div id="splash-container">
  <div id="splash">
    <div id="splash-text"><div id="splash-logo">FictionDB</div><p>Welcome</p></div>
  </div>
</div>
<div id="context-menu">
  <ul>

      <li class="context-menu-item single-select-only"><a
        href="#">Duplicate</a></li>
      <li class="context-menu-item single-select-only"><a
        href="#">Open</a></li>

    <li class="context-menu-item single-select-only"><a
      onclick="launchRename();" href="#">Rename</a></li>
    <li class="context-menu-item"><a onclick="trashItems();"
      href="#">Delete</a></li>
  </ul>
</div>
<div id="item-toaster">
  <br/>
</div>
<div id="dialog">
  <%- partial("../partials/dialog/title-bar") %>
  <div id="dialogContent">&nbsp;</div>
</div>
<script>
  $(function() {
    try {
      var userAgent = navigator.userAgent.toLowerCase();
      if (userAgent.indexOf(' electron/') > -1) {
        const remote = require('electron').remote;
        var remoteWin = remote.getCurrentWindow();
        remoteWin.setAlwaysOnTop(true);
        remoteWin.focus();
        setTimeout(() => {remoteWin.setAlwaysOnTop(false);}, 100);
      }
    } catch (e) { console.log(e); }
  });
</script>
