<div id="taskbar">
  <script>
    if (backBtnHistory.length > 0) {
      $('<a>').addClass('btn back-btn').attr('href', '#')
        .html('←').prependTo('#taskbar')
        .attr('title', 'Back')
        .click(()=>{requestBackBtn()})
        .button();
    }
  </script>
  <select class="ui" id="gearMenu" title="More Options">
    <option value="none" data-class="ui-icon-nullify">&nbsp;</option>
    <option>Open Project Folder</option>
    <option>Make Backup</option>
    <option>Preferences</option>
    <!-- append recents with jquery -->
  </select>
  <div style="flex-grow: 1;">&nbsp;</div>

  <div style="padding: 0 1vw;">Create:</div>
  <div id="new-character" class="btn taskbaricon new-icon character-icon"><div onclick="requestNew('character');" class="overlay">&nbsp;</div></div>
  <div id="new-event" class="btn taskbaricon new-icon event-icon"><div onclick="requestNew('event');" class="overlay">&nbsp;</div></div>
  <div id="new-location" class="btn taskbaricon new-icon location-icon"><div onclick="requestNew('location');" class="overlay">&nbsp;</div></div>
  <div id="new-setting" class="btn taskbaricon new-icon setting-icon"><div onclick="requestNew('setting');" class="overlay">&nbsp;</div></div>
  <div id="new-story" class="btn taskbaricon new-icon story-icon"><div onclick="requestNew('story');" class="overlay">&nbsp;</div></div>

  <div style="padding: 0 1vw">Show/Hide:</div>
  <div id="show-hide-icons-container" style="background-color: black; padding: 0; margin: 0; height: 3vh; display: inline-block; padding: 0 .5em;">
    <script>
      let types = [ 'character', 'event', 'location', 'setting', 'story' ];
      for (let x = 0; x < types.length; x++) {
        let checked = (<%= isStartup %> || iconsShowing.includes(types[x])) ? "checked" : '';
        $('#show-hide-icons-container').append(
          `<label id="show-${types[x]}s-label" for="show-${types[x]}s" class="${types[x]}-icon taskbar-btn" show-hide-type="${types[x]}"></label>`
          +`<input type="checkbox" id="show-${types[x]}s" class="show-hide-icon-btn checkbox-btn" ${checked}/>`
        );
      }
      $('#show-hide-icons-container').click((e)=>{
        if ($(event.target).prop('tagName') === 'INPUT') {
          let showing = $('.show-hide-icon-btn:checked');
          iconsShowing = [];
          for (let y = 0; y < showing.length; y++) {
            id = $(showing.get(y)).attr('id') + "-label";
            iconsShowing[iconsShowing.length] = $(`#${id}`).attr('show-hide-type');
          };
          $.ajax({
            url: '/home', method: 'POST',
            data: {iconsSorting: iconsSorting, iconsShowing: iconsShowing, iconsSize: iconsSize}
          }).done(handleResponse_requestPage_instant);

        }
      });
    </script>
  </div>
  <div class="flexspacer">&nbsp;</div>

  <div style="padding: 0 1vw;">Sort:</div>
  <select id="desktop-sort-menu" style="height: 3vh; background-color: black; color: #BEC0BE;">
    <script>
      let options = [
        {v: 'alpha-asc',  l: 'Alphabetic A-Z'},
        {v: 'alpha-desc', l: 'Alphabetic Z-A'},
        {v: 'creat-asc',  l: 'Oldest First'},
        {v: 'creat-desc', l: 'Newest First'},
        {v: 'updat-asc',  l: 'Updated Recently'},
        {v: 'updat-desc',  l: 'Updated Longest Ago'},
      ];
      options.map((s) => {
        let active = (iconsSorting === s.v) ? 'selected' : ''
        $('#desktop-sort-menu').append(`<option value="${s.v}" ${active}>${s.l}</option>`);
      });
    </script>
  </select>
  <div style="padding: 0 1vw;">Size:</div>
    <label for="iconSize_small" title="Small" class="btn">▫</label>
    <input type="radio" id="iconSize_small" name="iconSize_radio"
     <%= (iconsSize === 'small') ? 'checked' : '' %> class="iconSize_radio btn"/>
    <label for="iconSize_large" title="Large" class="btn">⬜</label>
    <input type="radio" id="iconSize_large" name="iconSize_radio"
     <%= (iconsSize === 'large') ? 'checked' : '' %> class="iconSize_radio btn"/>

  <div class="flexspacer">&nbsp;</div>
  <input type='text' id='desktop_filter_input' class="ui" value="(filter)"/><div
   id="desktop_filter_hint" onclick="desktopFilterSubmit();">&nbsp;</div><div
   id="desktop_filter_clear" onclick="desktopFilterClear();">&nbsp;</div>
  <div style="flex-grow: 1;">&nbsp;</div>
</div>
<script>
$('#desktop-sort-menu').change((e) => {
  iconsSorting = $('#desktop-sort-menu').val();
  $.ajax({
    url: '/home', method: 'POST',
    data: {iconsSorting: iconsSorting, iconsShowing: iconsShowing, iconsSize: iconsSize}
  }).done(handleResponse_requestPage_instant);
});

</script>
